<% layout('layouts/boilerplate') %>

<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow p-4 border-0 rounded-4">

            <!-- Heading -->
            <div class="text-center mb-4">

                <h2 class="fw-bold">
                    Welcome Back 👋
                </h2>

                <p class="text-muted">
                    Login to continue learning
                </p>

            </div>

            <!-- Login Form -->
            <form action="/login" method="POST">

                <!-- Username -->
                <div class="mb-3">

                    <label class="form-label">
                        Username
                    </label>

                    <input
                        type="text"
                        name="username"
                        class="form-control"
                        placeholder="Enter your username"
                        required>

                </div>

                <!-- Password -->
                <div class="mb-3">

                    <label class="form-label">
                        Password
                    </label>

                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter your password"
                        required>

                </div>

                <!-- Remember + Forgot -->
                <div class="d-flex justify-content-between mb-3">

                    <div>
                        <input type="checkbox">
                        Remember Me
                    </div>

                    <a href="#" class="text-decoration-none">
                        Forgot Password?
                    </a>

                </div>

                <!-- Button -->
                <button class="btn btn-dark w-100">
                    Login
                </button>

            </form>

            <!-- Register -->
            <div class="text-center mt-4">

                <p class="mb-0">
                    Don't have an account?

                    <a href="/register"
                    class="text-decoration-none fw-bold">

                        Register
                    </a>
                </p>

            </div>

        </div>
    </div>
</div>
